$container-width: 1800px;
$color-white: #ffffff;
$color-red:#cc3833;
$color-red_light: #e06c68;
$color-yellow: #e88f00;
$color-yellow_light: #e6ab4c;
$color-green: #0bcb0b;
$color-brown: #d95b0e;
$color-blue: #5d5de4;